Expression oriented functions of Python provides are:

map(aFunction, aSequence)
filter(aFunction, aSequence)
reduce(aFunction, aSequence)
lambda

In [ ]:
lambda argument: manipulate(argument)

In [84]:

def func(x): return x ** 3

print(func(5))

lamb = lambda x: x ** 3
print(lamb(5))

125
125

In [ ]:

def f(x, y, z): return x + y + z

f(2, 30, 400)

In [ ]:
f = lambda x, y, z: x + y + z

In [165]:
mz = lambda a = 'tiger', b = ' lion', c = ' cat': a + b + c
mz("vin")

'vin lion cat'

In [173]:
def writer():
	title = 'Dr'
	name = (lambda x:title + ' ' + x)
	return name

who = writer()
print(who)
#who()
who('APJ Kalam')

<function writer.<locals>.<lambda> at 0x0000026E5373FA60>

'Dr APJ Kalam'

In [107]:

L = [lambda x: x ** 2,lambda x: x ** 3,lambda x: x ** 4]
for f in L:
    print(f(3))


print(L[0](11))

9
27
81
121

In [108]:

def f1(x): return x ** 2

def f2(x): return x ** 3

def f3(x): return x ** 4

 # Reference by name
L = [f1, f2, f3]
for f in L:
	print(f(3))

9
27
81

In [180]:

def f1(x): return x ** 2

def f2(x): return x ** 3

def f3(x): return x ** 4

#key = 'quadratic'
d ={'square': f1, 'cubic': f2, 'quadratic': f3}

for i in d.keys():
    for n in [5,6,7]:
        print(i,{'square': f1, 'cubic': f2, 'quadratic': f3}[i](n))

square 25
square 36
square 49
cubic 125
cubic 216
cubic 343
quadratic 625
quadratic 1296
quadratic 2401

In [124]:
key = 'square'
d={'square': (lambda x: x ** 2),'cubic': (lambda x: x ** 3),'quadratic': (lambda x: x ** 4)}[key](11)

144

In [128]:
import sys
fullname = lambda x: list(map(sys.stdout.write,x))
f = fullname(['qwert ', 'sert ', 'kert'])

#fullname = lambda x: [sys.stdout.write(a) for a in x]
#t = fullname(['Wassily ', 'Wassilyevich ', 'Kandinsky'])

qwert sert kert

In [9]:
def action(x):
    # Make and return function, remember x
    #print("inside",x)
    return (lambda r: x + r)

ans = action(12)
print(ans(1))

13

In [153]:

action = (lambda x: (lambda newx: x + newx))
ans = action(99)
print("1st ans",ans)

ans(100)

(  (lambda x: (lambda newx: x + newx)) (99)) (100)

1st ans <function <lambda>.<locals>.<lambda> at 0x0000026E5373F598>

199

sorted(iterable[, key][, reverse])

In [63]:
de = [('a', 3, 24), ('c', 2, 27), ('b', 1, 8),]
sorted(de, key=lambda x:(x[0],x[2]))

[('a', 3, 24), ('b', 1, 8), ('c', 2, 27)]

In [24]:
a = [(1, 2), (4, 1), (9, 10), (13, -3)]
a.sort(key=lambda x: x[1])

print(a)
# Output: [(13, -3), (4, 1), (1, 2), (9, 10)]

dict_items([(2, 'a'), (3, 'b'), (1, 'c'), (5, 'd')])
{2: 'a', 3: 'b', 1: 'c', 5: 'd'}

In [48]:
def fahrenheit(T):
    return ((float(9)/5)*T + 32)

def celsius(T):
    return (float(5)/9)*(T-32)
 
temperatures = (36.5, 37, 37.5, 38, 39)
F = map(fahrenheit, temperatures)
C = map(celsius, F)
temperatures_in_Fahrenheit = list(map(fahrenheit, temperatures))
temperatures_in_Celsius = list(map(celsius, temperatures_in_Fahrenheit))
print(temperatures_in_Fahrenheit)

print(temperatures_in_Celsius)

[97.7, 98.60000000000001, 99.5, 100.4, 102.2]
[36.5, 37.00000000000001, 37.5, 38.00000000000001, 39.0]

In [49]:
C = [39.2, 36.5, 37.3, 38, 37.8] 
F = list(map(lambda x: (float(9)/5)*x + 32, C))
print(F)

C = list(map(lambda x: (float(5)/9)*(x-32), F))
print(C)

[102.56, 97.7, 99.14, 100.4, 100.03999999999999]
[39.2, 36.5, 37.300000000000004, 38.00000000000001, 37.8]

In [50]:
a = [1, 2, 3]
b = [17, 12, 11, 10]
c = [-1, -4, 5, 9]
list(map(lambda x, y : x+y, a, b))#

list(map(lambda x, y, z : x+y+z, a, b, c))

list(map(lambda x, y, z : 2.5*x + 2*y - z, a, b, c))

[37.5, 33.0, 24.5, 21.0]

In [51]:
a = [1, 2, 3]
b = [17, 12, 11, 10]
c = [-1, -4, 5, 9]
 
list(map(lambda x, y, z : 2.5*x + 2*y - z, a, b, c))

[37.5, 33.0, 24.5]

In [1]:
from math import sin, cos, tan, pi

def map_functions(x, functions):
     """ map an iterable of functions on the the object x """
     res = []
     for func in functions:
            for x in val:
                res.append(func(x))
     return res

family_of_functions = (sin, cos, tan)
val = [pi/3,pi/4,pi/2,pi]

print(map_functions(val, family_of_functions))

[0.8660254037844386, 0.7071067811865476, 1.0, 1.2246467991473532e-16, 0.5000000000000001, 0.7071067811865476, 6.123233995736766e-17, -1.0, 1.7320508075688767, 0.9999999999999999, 1.633123935319537e+16, -1.2246467991473532e-16]

In [60]:
sin(pi/3)

0.8660254037844386

In [8]:
fibonacci = [0,1,1,2,3,5,8,13,21,34,55]
odd_numbers = list(filter(lambda x: x % 2, fibonacci))
print(odd_numbers)

#even_numbers = list(filter(lambda x: x % 2 == 0, fibonacci))
#print(even_numbers)

[1, 1, 3, 5, 13, 21, 55]

filter extracts each element in the sequence for which the function returns True. The reduce function is a little less obvious in its intent. This function reduces a list to a single value by combining elements via a supplied function. The map function is the simplest one among Python built-ins used for functional programming.

In [82]:
import functools
functools.reduce(lambda x,y: x+y, [47,11,42,13])

113

In [83]:
from functools import reduce
f = lambda a,b: a if (a > b) else b
reduce(f, [47,11,42,102,13])

102

In [1]:
items = [1, 2, 3, 4, 5]
squared = []
for x in items:
	squared.append(x ** 2)

	
squared

[1, 4, 9, 16, 25]

In [1]:
items = [1, 2, 3, 4, 5]
def sqr(x): 
    print(x)
    return x ** 2

list(map(sqr, items))

1
2
3
4
5

[1, 4, 9, 16, 25]

In [2]:
 list(map((lambda x: x **2), items))

[1, 4, 9, 16, 25]

In [1]:
def square(x):
        return (x**2)
def cube(x):
        return (x**3)

funcs = [square, cube]
for r in range(5):
    value = map(lambda x: x(r), funcs)
    print(list(value))

[0, 0]
[1, 1]
[4, 8]
[9, 27]
[16, 64]

In [6]:
def mymap(aFunc, aSeq):
	result = []
	for x in aSeq: result.append(aFunc(x))
	return result

list(map(sqr, [1, 2, 3]))
mymap(sqr, [1, 2, 3])

[1, 4, 9]

In [7]:
list(map(pow, [2, 3, 4], [10, 11, 12]))

[1024, 177147, 16777216]

In [11]:
x = [1,2,3]
y = [4,5]

from operator import add
print (list(map(add, x, y))) # output [5, 7, 9]

[5, 7]

In [10]:
m = [1,2,3]
n = [1,4,0]
new_tuple = list(map(None,m, n))
new_tuple

TypeError: 'NoneType' object is not callable

In [33]:
d = {}
l = ['ravi','vinay','ravi']
for i in l:
    d[i]=l.count(i)
#print(d)

d = {i:l.count(i) for i in l}

d

{'ravi': 2, 'vinay': 1}

In [34]:
list( filter((lambda x: x < 0), range(-5,5)))

[-5, -4, -3, -2, -1]

In [36]:
k = list(range(-5,5))


l = list( filter((lambda x: x < 0), range(-5,5)))

print(k,l)

SyntaxError: invalid syntax (<ipython-input-36-5a162f328265>, line 5)

In [45]:
a = [20,2,33,4]
b = [17,12,11,10]
#c = [-1,-4,5,9]
k = zip(a,b)
#d =  lambda x,y: a if (a>b) else b
print(list(map(lambda x,y: x if (x>y) else y,a,b)))

[20, 12, 33, 10]

In [47]:
from functools import reduce
f = lambda a,b: a if (a > b) else b
reduce(f, [47,11,42,102,13])

102